#root {
  height: 100vh;
  margin: auto;

  /*  CSS variables */

  --borderBottom: #ccc;
  --greenButton: #4CAF50;
  --greenButtonHover: #3e8e41;
}

.container{
  padding-bottom: 1rem;
}


/* Add task Input component */

.todo_header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid var(--borderBottom);
  gap: 2rem;
  margin-bottom: 2rem;
}

.input_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.label{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  min-width: fit-content
}

.add_input {
  width: 90%;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  border-bottom: 1px solid var(--borderBottom);

}

.add_input_error{
  border: 2px solid red;
  border-radius: 10px;
  width: 90%;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top:1rem;
  font-size: 1.5rem;
}

.add_input:focus {
  outline: none;
  border-bottom: 1px solid #000;

}

.add_input_div{
  display: flex;
  flex-direction: column;
  line-height: 0%;

}

.todo_stats {
  display: flex;
  flex-direction: column;
  line-height: 0;
  font-weight: 600;
}



/* end  */


/*  todoItem  */

.todo_input{
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  border-bottom: 1px solid var(--borderBottom);
}

.todo_input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

.todo_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 1px solid var(--borderBottom);
  background-color: rgb(237, 237, 237);
  border-radius: 1rem;
  gap: 1rem;
  width: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.todo_item:hover {
  background-color: #f5f5f5;
  scale: 1.1;
  outline: none;
}

.todo_item:focus {
  outline: none;
}

.todo_completed {
  background: #7476f1;
}
.todo_completed:hover {
  background: #5355d5;
}

.todo_buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.noTodos{
  color: rgb(104, 102, 102);
  font-size: 2.2rem;
  margin-top: 10rem;
}


/* Search */

.search_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--borderBottom);
}

.search_input{
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;

}

.priority_select{
  width: 20%;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  display: flex;
  flex-direction: column;
}

.select_dropdown{
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-top: 1px solid var(--borderBottom);
}



/* Error */

.error{
  color: red;
  font-size: 1.2rem;
}


.check_Icon{
  color: #fff;
  height: 0.8rem;
}

.xmark_Icon{
  color: #fff;
  height: 0.9rem;
}


/* Buttons */

.add_button{
  height: 50px;
  width: 50px;
  padding: 0.7rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 50%;
  background-color: var(--greenButton);
  color: white;
  cursor: pointer;
}

.add_button:hover {
  background-color: var(--greenButtonHover);
}

.add_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} 

.delete_button{
  font-size: 0.7rem;
  border: none;
  background-color: #f44336;
  color: white;
  cursor: pointer;
  border-radius: 2rem;
}

.delete_button:hover {
  background-color: #ad2f26;
}

.delete_button:active {
  background-color: #f44336;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  
}

.complete_button{
  font-size: 0.7rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--greenButton);
  color: white;
  cursor: pointer;
}

.complete_button:hover {
  background-color: var(--greenButtonHover);
}

.complete_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.complete_button_done{
  font-size: 0.7rem;
  border: none;
  border-radius: 2rem;
  background-color: #04345b;
  color: white;
  cursor: pointer;
}

.complete_button_done:hover {
  background-color: #2d64f0;
}


